@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;700&display=swap');
body {
    padding: 0;
    margin: 0;
}

.header {
    width: auto;
    height: auto;
    
}

.logo img {
    width: 80px;
    height: 35px;
    margin-top: 25px;
    margin-left: 50px;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    padding-left: 70%;
    justify-content: space-around;
    margin-top: -30px;
}
.navbar li {
    display: flex;
    list-style: none;
}
.navbar li a {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #000;
    text-decoration: none;
}

.navbar li a:hover {
    color: blue;
    text-decoration: overline;
}

.container {
    width: 100%;
    height: auto;
    background-color: #fff;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.presen{
    width: 100%;
    height: auto;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/*.txt1{
    animation: maquina 5s infinite alternate steps(69);
}

@keyframes maquina{
    from{
        width: 100%;
    }
    to{
        width: 0;
    }
}*/

.txt1{
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 18%;   
    font-size: 50px;
    text-align: center;
    display: flex;
    flex-direction: column; 
    width: 50%;
}


.txt2{
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 50%;
    font-size: 20px;
    text-align: center;
}

.buttons{
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 70%;
    display: flex;
    flex-direction: row;
}

.btn1{
    width: 200px;
    height: 50px;
    border: #fff solid 1px;
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;    
    color: #000;;
    background-color: #46CDCF;
}

.btn1 a {
    display: flex;
    justify-content: center;
    margin-top: 13px;
    text-decoration: none;
}

.btn1:hover {
    color: white;
    background-color: tomato;
}

.services {
    width: 100%;
    height: auto;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    
.services h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
}

.services h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}

.ser1 {
    width: 300px;
    height: auto;
    background-color: #fff;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    margin-right: 70px;
}

.ser2{
    width: 300px;
    height: auto;
    background-color: #fff;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    white-space: normal;
}

.services a{
    text-decoration: none;
    color: #000;
    width: 400px;
    height: 50px;
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;    
    color: #000;;
    background-color: #46CDCF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.services a:hover{
    color: white;
    background-color: tomato;
}

.par h3{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
    
}

.proy {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.i {
    float: left;
    margin-top: 100px;
    width: 450px;
    margin-right: 500px;
}

.par{
    width: 100%;
    height: auto;
    background-color: #fff;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 600px;

}

.par p{
    font-family: 'Poppins', sans-serif;
    text-align: left;
    margin-top: 20px;
    flex-direction: column;
    justify-content: left;
    white-space: pre-line;
}

.par a{
    text-decoration: none;
    color: #000;
    width: 450px;
    height: 50px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;    
    color: #000;;
    background-color: #46CDCF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: 20px;
}

.par a:hover{
    color: white;
    background-color: tomato;
}

.fin{
    margin-top: 50px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fin p{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    top: 18%;
    text-align: center;
}

.fin a{
    text-decoration: none;
    color: #000;
    width: 400px;
    height: 50px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;    
    color: #000;;
    background-color: #46CDCF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: 20px;
}

.fin a:hover{
    color: white;
    background-color: tomato;
}

.foot{
    margin-top: 40px;
    border-top: solid black 1px;
    margin-bottom: 60px;
}

.containerf{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;    
}

.lo{
    display: flex;
    width: 100px;
}

.col1 a img{
    margin-left:20px ;
}

.col2 a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.col2 a:hover{
    text-decoration: underline;
    color: cadetblue;
}

.col3 img{
    float: left;
}

@media (min-width: 1199px) and (max-width: 1366px){
    .containerf{
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-family: 'Poppins', sans-serif;    
    }

    .navbar ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-family: 'Poppins', sans-serif;    
        margin-right: 70px;
    }
    .navbar li a{
        font-size: 15px;
        margin-left: 15px;
        padding-left: 5px;
        display: flex;
    }

    #img1{
        width: 1000px;
        height: auto;
    }

    .txt1{
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
        text-align: center;
        margin-top: 40px;
        width: 60%;
    }
 
}
